<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script>
    $(document).ready(function() {
      $('#start_btn').click(function(e) {
        start_projects();
        e.preventDefault();
      });
      $('#stop_btn').click(function(e) {
        stop_projects();
        e.preventDefault();
      });

      $('a').click(function(e) {
        var selected_projects = {};
        selected_projects[$(this).attr('rel')] = $(this).text();
        console.log(selected_projects);
        post_data(selected_projects);
        e.preventDefault();
      });
    });

    function start_projects() {
      var selected_projects = {};
      $('input:checkbox:checked').each(function () {
        selected_projects[$(this).attr('name')] = 'start';
      });
      post_data(selected_projects);
    }

    function stop_projects() {
      var selected_projects = {};
      $('input:checkbox:checked').each(function () {
        selected_projects[$(this).attr('name')] = 'stop';
      });
      post_data(selected_projects);
    }

    function post_data(selected_projects) {
      $.ajax({
        type: "POST",
        url: "perform",
        data: selected_projects,
      }).done(function( msg ) {
        //alert( "Message: " + msg );
      });
    }

  </script>
</head>

<h1>Foreman Starter</h1>

<p>
  Projects:-
</p>

<p>
  <% for @project in @projects %>
    <%= erb :_project %> <br/>
  <% end %>
</p>

<input id="start_btn" type="submit" value="Start all selected"/>
<input id="stop_btn" type="submit" value="Stop all selected"/>
