<div class="controls">
  <label class="checkbox">
    <input type="checkbox" value="term" name="term">Open Terminal
  </label>
  <label class="checkbox">
    <input type="checkbox" value="tab" name="tab">Open Tab
  </label>
</div>
