<td>
    <input type="radio" name=<%=@project.name%> value="start">
    <input type="radio" name=<%=@project.name%> value="nothing" checked>
    <input type="radio" name=<%=@project.name%> value="stop">
</td>

